<html>
    <head>
        <title>Login Page</title>
    </head>
    <body>
        <h3>Sign in</h3>
        <form action="/login" method="GET">
            <label>Username</label>
            <input type="text" name="user_name" placeholder="user name...">
            <label>Password</label>
            <input type="text" name="user_pass" placeholder="password...">
            <button type="submit">Sign in</button>
        <h3>Sign Up</h3>
        <form action="/signup" method="POST">
            <label>Username</label>
            <input type="text" name="user_name" placeholder="user name...">
            <label>Password</label>
            <input type="text" name="user_pass" placeholder="password...">
            <button type="submit">Sign up</button>
    </body>
</html>